.board {
  padding: 0 2rem 1rem 2rem;
  columns: 5;
}
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background: #2632384b;
  align-items: center;
}
.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #ff3d00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1900px) {
  .board {
    columns: 4;
  }
}
@media screen and (max-width: 1500px) {
  .board {
    columns: 3;
  }
}
@media screen and (max-width: 1200px) {
  .board {
    columns: 2;
  }
}
@media screen and (max-width: 800px) {
  .board {
    columns: 1;
  }
}
@media screen and (max-width: 500px) {
  .board {
    padding: 0 1rem;
  }
}
